.xm-icon {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  position: relative;

  .taroify-loading__circular {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -25%;
  }
}