@import "@static/scss/base.scss";
.UI-page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $bg-color-auto;
    .page-box {
        box-sizing: border-box;
        height: 100%;
    }
    .render-bottom {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .render-top {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
}
