@import "@static/scss/base.scss";

.index-serch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 132px;
    
    .item {
        color: $font-color-main;
        font-size: $font-size-larger;
        height: 72px;
        background-color: $bg-color-grayer;
        border-radius: 4px;
        border: solid 1px $border-color-gray;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item:nth-child(1){
        width: 150px;
    }
    .item:nth-child(2){
        width: 440px;
    }
}
