.image-preview {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .image-preview-swiper {
    width: 100%;

    .taroify-swiper__track {
      align-items: center;
    }

    .image-preview-img {
      width: 100%;
      max-height: 750px;
    }

    .image-preview-count {
      padding: 47px 54px;
    }
  }
}