$bg-color-main:#39ccc5 !default;
$bg-color-write:#ffffff !default;
$bg-color-gray:#ebebeb !default;
$bg-color-grayer:#f5f5f5 !default;
$bg-color-auto:rgb(246,249,255) !default;
$bg-color-mask:rgba(0,0,0,0.4) !default;

$border-color-main:#39ccc5 !default;
$border-color-write:#ffffff !default;
$border-color-gray:#ebebeb !default;
$border-color-grayer:#f5f5f5 !default;
$border-color-auto:rgb(246,249,255) !default;
$border-color-mask:rgba(0,0,0,0.4) !default;


$font-color-main:#323232 !default;
$font-color-black:#1a1a1a !default;
$font-color-write:#ffffff !default;
$font-color-gray:#4d4d4d !default;
$font-color-red:#fe582b !default;


$font-size-title:28px !default;
$font-size-larger:26px !default;
$font-size-auto:24px !default;
$font-size-label:22px !default;
$font-size-small:18px !default;


