.ellipsis{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.clamp {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
/*删除  */
.line-through{text-decoration:line-through;}
/* 字号  */
.s-num{font-size: $size + 22;}
.s-large{font-size: $size + 16;}
.s-title{font-size: $size + 12;} // 标题文字
.s-big{font-size: $size + 10;}
.s-def{font-size: $size + 8;} // 一般文本
.s-small{font-size: $size + 4;} // 小文本
.s-little{font-size: $size;} // 说明/标签文字

/*文本颜色  */
.c-black{color: black;}
.c-white{color: $cwhite;}
.c-main{color: $cmain;}
.c-sub{color: $csub;}
.c-dot{color: $cdot; }
.c-dot2{color: $cdot2; }
.c-def{color: $cdef;}
.c-gray-drak{color: $cgraydrak;}
.c-gray{color: $cgray;}
.c-place{color: $cplace}
.w-blod{font-weight: bold;}
.c-red{color: $red;}
// 边框颜色
.c-border-def{border-color: $cborder;}
/*背景颜色  */
.bg-white{background-color: $cwhite;}
.bg-img{background-color: $cbgimg;}
.bg-body{background-color: $cbg;}
.bg-main{background-color: $cmain;}
.bg-sub{background-color: $csub;}
.bg-dot {background-color: $cdot; }
$maskBgColor: rgba(0, 0, 0, 0.6) !default;
/*  */
.al{text-align: left}
.ac{text-align: center}
.ar{text-align: right}
.none{display: none;}
.block{display: block}
.inline{display: inline}
.iblock{display: inline-block}

.mt30,.mtb30,.m30{margin-top: 30px;}
.mb30,.mtb30,.m30{margin-bottom: 30px;}
.ml30,.mlr30,.m30{margin-left: 30px;}
.mr30,.mlr30,.m30{margin-right: 30px;}

.mt20,.mtb20,.m20{margin-top: 20px;}
.mb20,.mtb20,.m20{margin-bottom: 20px;}
.ml20,.mlr20,.m20{margin-left: 20px;}
.mr20,.mlr20,.m20{margin-right: 20px;}

.mt10,.mtb10,.m10{margin-top: 10px;}
.mb10,.mtb10,.m10{margin-bottom: 10px;}
.ml10,.mlr10,.m10{margin-left: 10px;}
.mr10,.mlr10,.m10{margin-right: 10px;}

.mt0,.mtb0,.m0{margin-top: 0px;}
.mb0,.mtb0,.m0{margin-bottom: 0px;}
.ml0,.mlr0,.m0{margin-left: 0px;}
.mr0,.mlr0,.m0{margin-right: 0px;}

.pt20,.ptb20,.p20{padding-top: 20px;}
.pb20,.ptb20,.p20{padding-bottom: 20px;}
.pl20,.plr20,.p20{padding-left: 20px;}
.pr20,.plr20,.p20{padding-right: 20px;}

.pt10,.ptb10,.p10{padding-top: 10px;}
.pb10,.ptb10,.p10{padding-bottom: 10px;}
.pl10,.plr10,.p10{padding-left: 10px;}
.pr10,.plr10,.p10{padding-right: 10px;}

.pt0,.ptb0,.p0{padding-top: 0px;}
.pb0,.ptb0,.p0{padding-bottom: 0px;}
.pl0,.plr0,.p0{padding-left: 0px;}
.pr0,.plr0,.p0{padding-right: 0px;}

.b_radius{border-radius: 10px;}

.flex_al_btw{ display: flex; align-items: center; justify-content: space-between; }

.wk-cells{position:relative;margin-top:1.17647059em;background-color:#fff;line-height:1.41176471;font-size:34px}
.wk-cells::before{top:0;border-top:1px solid $cborder}
.wk-cells::after,.wk-cells:before{content:" ";position:absolute;left:0;right:0;height:2px;color:$cborder}
.wk-cells::after{bottom:0;border-bottom:1px solid $cborder}
.wk-cells__title{margin-top:.77em;margin-bottom:.3em;padding-left:30px;padding-right:30px;color:#999;font-size:28px}
.wk-cells_after-title{margin-top:0}
.wk-cells__tips{margin-top:.3em;color:#999;padding-left:30px;padding-right:30px;font-size:28px}
.wk-cell{padding:20px;position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.wk-cell::before{content:" ";position:absolute;left:0;top:0;right:0;height:2px;border-top:1px solid $cborder;color:$cborder;left:30px}
.wk-cell-none::before{border: none;}
.wk-cell-left::before{left: 0;}
.wk-cell_active{background-color:#ececec}
.wk-cell_primary{-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.wk-cell__bd{-webkit-box-flex:1;-webkit-flex:1;flex:1}
.wk-cell__ft{text-align:right;color:#999}
.wk-cell_access{color:inherit}
.wk-cell__ft_in-access{padding-right:26px;position:relative}
.wk-cell__ft_in-access:after{content:" ";display:inline-block;height:12px;width:12px;border-width:4px 4px 0 0;border-color:#c8c8cd;border-style:solid;-webkit-transform:matrix(.71,.71,-.71,.71,0,0);transform:matrix(.71,.71,-.71,.71,0,0);position:relative;top:-4px;position:absolute;top:50%;margin-top:-8px;right:4px}
.wk-flex{display:-webkit-box;display:-webkit-flex;display:flex}
.wk-flex__item{-webkit-box-flex:1;-webkit-flex:1;flex:1}
.base-card{margin: 20px; background: white; border-radius: 12rpx; }

.iphonex-pb{ padding-bottom: 34px}
.iphonex-pt{ padding-top: 44px}
.iphonex-mb{ margin-bottom: 34px}
.iphonex-mt{ margin-top: 44px}