@import "@static/scss/base.scss";

.my-banner{
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    .item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
