@import '@static/scss/base.scss';

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color-mask;
    z-index: 999;
    display: block;
    left: 0px;
    top: 0px;
}
.hide {
    display: none;
}
