@import "@static/scss/base.scss";
@import "@static/scss/variate.scss";

.ui-sidebar {
    width: 155px;
    height: 100%;
    background-color: $bg-color-grayer;
    .item {
        display: block;
        overflow: hidden;
        height: 100px;
        font-size: $font-size-larger;
        display: flex;
        align-items: center;
        .line{
            height: 0;
            width: 6px;
            background-color: $border-color-main;
            margin-right: 12px;
            transition: height .2s;
        }
        .line-checked{
            height: 100%;
        }
        .text{
            padding-right: 5px;
            @include more-ellipsis(2);
        }
    }
}
