.page-index-card {
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 12px;
  padding: 30px 34px;
  box-sizing: border-box;
  background: rgba(255, 255, 255);
  box-shadow: 0px 9px 18px #EAEAEA;
  opacity: 1;
  border-radius: 18px;
}