@import "@static/scss/base.scss";

.index-nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 132px;
        font-size: $font-size-auto;
        color: $font-color-main;
        margin: 10px 0px;
    }
}
