.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;

    .fadeIn {
        animation-name: fadeIn;
    }
    .fadeOut {
        animation-name: fadeIn;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    .bounceInUp {
        animation-name: bounceInUp;
    }
    .bounceOutDown {
        animation-name: bounceOutDown;
    }
    @keyframes bounceOutDown {
        20% {
            transform: translate3d(0, 10px, 0);
        }
        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, -20px, 0);
        }
        to {
            opacity: 0;
            transform: translate3d(0, 2000px, 0);
        }
    }

    @keyframes bounceInUp {
        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            transform: translate3d(0, 3000px, 0);
        }
        60% {
            opacity: 1;
            transform: translate3d(0, -20px, 0);
        }
        75% {
            transform: translate3d(0, 10px, 0);
        }
        90% {
            transform: translate3d(0, -5px, 0);
        }
        to {
            transform: translateZ(0);
        }
    }
}
