@import "@static/scss/base.scss";
@import "@static/scss/variate.scss";

.select-city-page {
  height: 100vh;
  display: flex;
  .page-count {
    height: 100%;
    background-color: $bg-color-write;
    .count-item {
      .title {
        height: 90px;
        line-height: 90px;
        color: $font-color-main;
        font-size: $font-size-larger;
        padding-left: 15px;
      }
      .count-item-count {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
          width: 33%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn {
            margin: 0 10px;
            padding: 0 10px;
            width: 160px;
            height: 60px;
            border: 1rpx solid $border-color-grayer;
            font-size: $font-size-larger;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
